<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=., initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="https://dojiw2m9tvv09.cloudfront.net/4/8/favicon9844.ico?1321">
        <title>BSale Test | Diego Castro</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light mb-3">
            <div class="container">
                <div class="navbar-nav mr-auto">
                    <a href="/store" class="navbar-brand">BSale Store</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <div class="searchbox d-none d-md-block">
                        <form class="form-inline my-2 my-lg-0">
                            <input id="input-search" class="form-control mr-sm-2 rounded" type="search" placeholder="Search" aria-label="Search">
                            <button id="btn-search" class="btn my-2 my-sm-0" type="submit">
                                <a id="query" href="#">
                                    <i class="fas fa-search"></i>
                                </a>  
                            </button>
                        </form>
                    </div>

                    <li class="nav-item">
                        <div id="btn-cart" class="cart-btn">
                            <a class="cart-icon nav-link" href="#">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                            <div id="header-cart" class="cart-items">0</div>
                        </div>
                    </li>
                </div>
            </div>
        </nav>
        <div class="d-md-none searchbox mb-3">
            <form class="d-flex mx-auto justify-content-center form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 rounded" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>

        


        

